$short-ease: 200ms ease-in-out;

.skills-main {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  box-sizing: border-box;


  h2,
  p {
    width: fit-content;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  p {
    font-size: 1rem;
    font-weight: 200;
  }

  h2 {
    font-size: 3rem;
  }

  .card {
    .top-left,
    .top-right,
    .bottom-left,
    .bottom-right {
      width: 20px;
      height: 20px;

      background: transparent;
    }

    .info {
      width: 100%;
      height: 100%;
      transition: all $short-ease;

      .circle-expand {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2,
        svg {
          transition: all $short-ease;
        }
      }

      h2 {
        color: inherit;
        width: fit-content;
      }
    }

    svg {
      width: 50px;
      height: 50px;
    }
  }
}
