$short-ease: 300ms ease-in-out;

.skills-main {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  box-sizing: border-box;

  h2,
  p {
    width: fit-content;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgb(245, 245, 245);
  }

  p {
    font-size: 1rem;
    font-weight: 200;
  }

  h2 {
    font-size: 3rem;
  }

  .card {
    a {
      background: pink;
    }

    .top-left,
    .top-right,
    .bottom-left,
    .bottom-right {
      width: 20px;
      height: 20px;

      background: transparent;
    }

    .info {
      width: 100%;
      height: 100%;
      transition: all $short-ease;

      .circle-expand {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          right: 50%;
          width: 1px;
          height: 1px;
          border-radius: 50%;
          z-index: -1;
          transition: all $short-ease;
        }
        &:hover::before {
          top: 0px;
          right: 0px;
          width: 100%;
          height: 100%;
          border-radius: 0;
          background: rgba(245, 245, 245, 1);
        }

        h2,
        svg {
          transition: all $short-ease;
        }

        // https://cdn-images-1.medium.com/max/2000/1*KeG3D_6oirsqBJndzVlqEA.gif
      }

      .circle-expand:hover {
        h2 {
          color: rgb(19, 19, 19);
        }
        path {
          fill: rgb(19, 19, 19);
        }
      }

      h2 {
        width: fit-content;
      }
    }

    .info:hover {
      width: 100%;
      height: 100%;
    }

    svg {
      width: 50px;
      height: 50px;
    }
  }
}
