.experiance-main {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .container {
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 2rem;
  }

  @media screen and (min-width: 300px) and (max-width: 768px) {
    min-width: 300px;

    .container {
      width: 90%;
      min-width: 300px;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 992px) {
    min-width: 769;
  }
  @media screen and (min-width: 993px) and (max-width: 1200px) {
    min-width: 993px;
  }
  @media screen and (min-width: 1200px) and (max-width: 1440px) {
    min-width: 1200px;
  }

  @media screen and (min-width: 1440px) {
    min-width: 1200px;
  }

  h2,
  p {
    width: fit-content;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Inter';
  }

  p {
    font-size: 1rem;
    font-weight: 200;
  }

  h2 {
    width: fit-content;
    font-size: 3rem;
  }
}
