.experiance-main {
  width: 100%;
  height: 100vh;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  @media screen and (min-width: 300px) and (max-width: 600px) {
    min-width: 300px;
    height: fit-content;

    .container {
      min-width: 300px;
      margin-top: 2rem;

      .info {
        min-width: 2;
        height: fit-content;
        margin-left: -1.28rem;
        margin-top: 2rem;
      }
    }
  }

  @media screen and (min-width: 601px) and (max-width: 768px) {
    min-width: 601px;
    height: fit-content;

    .container {
      width: 100%;
      min-width: 601px;
      margin-top: 2rem;

      .info {
        width: 100%;
        min-width: 2;
        height: 100%;
        margin-left: -1.28rem;
        margin-top: 2rem;
      }
    }
  }

  @media screen and (min-width: 769px) and (max-width: 992px) {
    min-width: 769;
    height: fit-content;

    .container {
      width: 80%;
      min-width: 769px;
      margin-top: 2rem;

      .info {
        width: 100%;
        min-width: 2;
        height: 100%;
        margin-left: -1.28rem;
        margin-top: 2rem;
      }
    }
  }
  @media screen and (min-width: 993px) and (max-width: 1200px) {
    min-width: 993px;
    height: fit-content;

    .container {
      width: 70%;
      min-width: 993px;
      margin-top: 2rem;

      .info {
        width: 90%;
        min-width: 2;
        height: 100%;
        margin-left: -1.28rem;
        margin-top: 2rem;
      }
    }
  }
  @media screen and (min-width: 1200px) and (max-width: 1440px) {
    min-width: 1200px;
    height: fit-content;

    .container {
      width: 60%;
      min-width: 1200px;
      margin-top: 2rem;

      .info {
        width: 80%;
        min-width: 2;
        height: 100%;
        margin-left: -1.28rem;
        margin-top: 2rem;
      }
    }
  }

  @media screen and (min-width: 1440px) {
    min-width: 1200px;
    height: fit-content;

    .container {
      width: 60%;
      min-width: 1200px;
      margin-top: 2rem;

      .info {
        width: 80%;
        min-width: 2;
        height: 100%;
        margin-left: -1.28rem;
        margin-top: 2rem;
      }
    }
  }

  h2,
  p {
    width: fit-content;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  p {
    font-size: 1rem;
    font-weight: 200;
  }

  h2 {
    width: fit-content;
    font-size: 3rem;
  }
}
