.project-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
  border-radius: 15px;
  padding: 10px;

  .img {
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      max-height: 300px;
      object-fit: cover;

    }
  }

  .center-line {
    width: 1px;
    height: inherit;
  }

  .card {
    margin: 0 1rem;
    width: 50%;
    height: fit-content;
    box-sizing: border-box;

    h4,
    span,
    li {
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: fit-content;
      font-family: "Inter";
    }

    i {
      font-weight: 300;
    }

    h4 {
      font-size: 1rem;
    }

    span {
      font-weight: 200;
      padding-bottom: 0.6rem;
    }

    span,
    li {
      font-size: 0.8rem;
    }
    ul {
      margin-left: 2rem;
      box-sizing: border-box;
      width: fit-content;

      li {
        width: fit-content;
      }
    }
  }
  @media screen and (min-width: 300px) and (max-width: 768px) {
    .img {
      display: none;
    }
    .card {
      width: 90%;
    }
  }
}
