.navbar-main {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 35%;
  height: 4em;
  margin: 1rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(19, 19, 19);
  z-index: 9999;
  border: 0.5px solid rgba(245, 245, 245, 0.3);
  box-sizing: border-box;
}
