.navbar-main {

  @media screen and (min-width: 300px) and (max-width: 600px){
    width: 90%;
    min-width: 300px;
  }

  @media screen and (min-width: 601px) and (max-width: 768px){
    width: 80%;
  }

  @media screen and (min-width: 769px) and (max-width: 992px){
    width: 70%;
  }
  @media screen and (min-width: 993px) and (max-width: 1200px){
    width: 50%;
  }
  @media screen and (min-width: 1200px) and (max-width: 1440px){
    width: 40%;
  }

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 35%;
  height: 4em;
  margin-top: 1rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(19, 19, 19);
  z-index: 9999;
  border: 0.5px solid rgba(245, 245, 245, 0.3);
  box-sizing: border-box;
}
